h2 {
	font-size: 18px;
	line-height: 2em;

	text-align: left;

	letter-spacing: 0.06em;
}

header {
	margin-bottom: 93px;
}

.type-of-work {
	font-size: 16px;
	line-height: 1.88em;

	color: var(--color-for-description);
}

/* 
+++++++++++++++++++++
	Main
+++++++++++++++++++++
*/

.list-btn {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.list-btn button {
	display: block;
	padding: 6px 22px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62em;
	text-align: center;
	letter-spacing: 0.03em;

	background-color: #f5f4fa;
	border-width: 0px;
	border-radius: var(--radius-borders);
}

.list-btn > li:not(:last-child) {
	margin-right: 8px;
}

button:focus,
button:hover {
	color: var(--color-for-btn-caption);
	background-color: var(--color-for-hovered);
}

.block-projects {
	display: flex;
	flex-wrap: wrap;
}

.block-projects li {
	margin-right: 30px;
	margin-bottom: 30px;

	width: calc((100% - 60px) / 3);
}

.block-projects li:nth-child(3n + 3) {
	margin-right: 0px;
}

.block-projects li:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}
