h2 {
	font-size: 18px;
	line-height: 2em;

	text-align: left;

	letter-spacing: 0.06em;
}

.type-of-work {
	font-size: 16px;
	line-height: 1.88em;

	color: var(--color-for-description);
}

.select-btn button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62em;

	text-align: center;
	letter-spacing: 0.03em;

	display: block;

	margin: 4px;
	padding: 6px 22px;

	background-color: #f5f4fa;
	border-radius: var(--radius-borders);
}

button:focus,
button:hover {
	background-color: var(--color-for-hovered);
}

.block-projects {
	display: inline;
}

.block-projects p {
	display: block;
	width: 200px;
}
