:root {
	/* Цвет кнопок, hover и focus элементов*/
	--color-for-hovered: #2196f3;

	/* Цвет текста кнопок и текста на затемненных элементах */
	--color-for-btn-caption: #ffffff;

	/* Цвет описания emai и tel в header, преимуществ и членов команды*/
	--color-for-description: #757575;

	/* Цвет иконок соц. сетей и клиентов */
	--color-for-icons: #afb1b8;

	/* Радиус скругления для изображений */
	--radius-borders: 4px;

	/* Ширина контейнеров с учетом отступов  */
	--width-of-container: 1200px;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;

	color: #212121;
}

section {
	margin-bottom: 94px;
}

h2 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 50px;

	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;

	text-align: center;
}

h3 {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;

	margin: 0px;
	padding-inline-start: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
}

.no-display {
	display: none;
}

.container {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 15px;

	width: var(--width-of-container);
}

/* 
+++++++++++++++++++++
	Header
+++++++++++++++++++++
*/
.head .container {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.head nav {
	display: flex;
	align-items: center;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.19em;
	letter-spacing: 0.03em;
}

header .logo {
	margin-right: 85px;
}

.logo-text-web {
	color: #2196f3;
}

.menu-nav,
.mail-and-tel {
	font-weight: 500;
	font-size: 14px;
	font-style: normal;
	line-height: 1.14em;
	letter-spacing: 0.02em;
}

.menu-nav {
	display: flex;
}

.menu-nav li:not(:last-child) {
	margin-right: 50px;
}

.menu-nav a {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}

.mail-and-tel {
	display: inline-flex;

	margin-left: auto;
	color: var(--color-for-description);
	fill: var(--color-for-description);
}

.email-logo {
	display: inline-block;
}

.mail-and-tel a:not(:last-child) {
	margin-right: 30px;
}

.mail-and-tel-logo {
	margin-right: 10px;
}

.mail-and-tel a {
	display: inline-flex;
	align-items: center;
}

.menu-nav-item a:hover,
.menu-nav-item a:focus,
.mail-and-tel a:hover,
.mail-and-tel a:focus,
.current {
	color: var(--color-for-hovered);
	fill: var(--color-for-hovered);
}

/* 
+++++++++++++++++++++
	Main
+++++++++++++++++++++
*/
/* 
	+++Раздел Герой+++
*/
.hero {
	padding: 0px;

	background-color: var(--color-for-hovered);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
		url(../images/order-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	height: 600px;

	text-align: center;
}

.hero > div {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 600px;

	text-align: center;
}

.hero-content-block > h1 {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36em;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: white;
}

.button {
	display: inline-block;

	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87em;

	border-radius: var(--radius-borders);
	padding: 10px 32px;
	min-width: 200px;

	color: var(--color-for-btn-caption);

	background-color: var(--color-for-hovered);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
	color: var(--color-for-hovered);
	background-color: var(--color-for-btn-caption);
}

/* 
	+++ Наши особенности +++
*/

.skill-list {
	display: flex;
	justify-content: space-between;
}

.skills-item {
	display: inline-block;
	width: 270px;
}

.features h3 {
	margin: 0px;
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14em;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.features p {
	margin: 0px;

	font-weight: normal;
	font-size: 14px;
	line-height: 1.71em;
	letter-spacing: 0.03em;

	color: var(--color-for-description);
}

.skills-item div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;

	width: 270px;
	height: 120px;

	background-color: #f5f4fa;
	border-radius: var(--radius-borders);
}

.skills-item svg {
	width: 70px;
	height: 70px;
}

/* 
+++ Чем мы занимаемся +++
*/
.what-we-do-list {
	display: flex;
	justify-content: space-between;
}

.what-we-do-item {
	display: inline-block;

	width: 370px;
	height: 294px;

	border-radius: var(--radius-borders);
}

.desctop-app {
	height: inherit;
	background: no-repeat url(../images/desctop-app.jpg);
	/* outline: solid 2px red; */
}

.mobile-app {
	height: inherit;
	background: no-repeat url(../images/mobile-app.jpg);
}

.design-descriptions {
	height: inherit;
	background: no-repeat url(../images/design-decisions.jpg);
}

.what-we-do h3 {
	display: block;

	padding-top: 27px;
	padding-bottom: 27px;

	font-weight: bold;
	font-size: 14px;
	line-height: 1.71em;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--color-for-btn-caption);

	background: rgba(47, 48, 58, 0.8);

	border-bottom-left-radius: var(--radius-borders);
	border-bottom-right-radius: var(--radius-borders);
}

/* 
+++ Наша команда +++
*/
.our-team {
	padding-top: 94px;
	padding-bottom: 94px;

	font-size: 16px;
	line-height: 1.19em;
	text-align: center;
	letter-spacing: 0.03em;

	background: #f5f4fa;
}

.our-team-list {
	display: flex;
	justify-content: space-between;
}

.our-team-list-item {
	display: block;

	width: 270px;

	background: #ffffff;
	border-bottom-right-radius: var(--radius-borders);
	border-bottom-left-radius: var(--radius-borders);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.our-team-list-item-foto {
	margin-bottom: 30px;
}

.our-team h3 {
	margin-top: 0px;
	margin-bottom: 10px;

	font-weight: 500;
}

.our-team p {
	margin-top: 0px;
	margin-bottom: 16px;

	font-weight: normal;
	color: var(--color-for-description);
}

.our-team .social-link-list {
	padding-bottom: 24px;
}

.social-link-list li:not(:last-child) a {
	margin-right: 10px;
}

.social-link-list a {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	fill: var(--color-for-icons);
}

.social-link-list a:hover,
.social-link-list a:focus {
	background-color: var(--color-for-hovered);
	fill: var(--color-for-btn-caption);
}

.social-link-list {
	display: flex;
	justify-content: center;
}

.social-link-list svg {
	width: 20px;
	height: 20px;
}

/* 
+++ Наши Клиенты +++
*/
.our-clients-list {
	display: flex;
	justify-content: space-between;
}

.our-clients li {
	display: inline-block;
}

.our-clients-list svg {
	fill: var(--color-for-icons);
}

.our-clients-list a {
	/* outline: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--color-for-icons);
	border-radius: var(--radius-borders);

	width: 170px;
	height: 90px;
}

.client1-icon {
	width: 44px;
	height: 49px;
}
.client2-icon {
	width: 40px;
	height: 52px;
}
.client3-icon {
	width: 41px;
	height: 43px;
}
.client4-icon {
	width: 80px;
	height: 42px;
}
.client5-icon {
	width: 59px;
	height: 47px;
}
.client6-icon {
	width: 88px;
	height: 45px;
}

.our-clients-list a:hover,
.our-clients-list a:focus,
.our-clients-list a:hover svg,
.our-clients-list a:focus svg {
	border-color: var(--color-for-hovered);
	fill: var(--color-for-hovered);
}

/* 
+++++++++++++++++++++
	Footer
+++++++++++++++++++++
*/
footer {
	/* height: 253px; */
	background-color: #2f303a;
}

footer .container {
	display: flex;
	align-items: baseline;
	padding-top: 45px;
	padding-bottom: 28px;
}

footer .logo {
	display: block;
	margin-bottom: 8px;

	color: #ffffff;
}

.our-address {
	margin-right: 69px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71em;

	color: rgba(255, 255, 255, 0.6);
}

.our-address li:first-child {
	color: #ffffff;
}

footer .social-link-list a {
	background: rgba(255, 255, 255, 0.1);
	fill: var(--color-for-btn-caption);
}

footer b {
	display: block;
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 1.14em;
	text-transform: uppercase;
	color: #ffffff;
}

.email-input {
	margin-left: auto;
}

.email-input .button {
	border-width: 0px;
}

.copyright {
	display: block;
	margin: 0px;
	padding-top: 18px;
	padding-bottom: 21px;

	font-weight: normal;
	font-size: 12px;
	line-height: 2em;
	text-align: center;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.4);
}
